html,
body,
#root {
  height: 100%;
}

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 224, 250, 1) 53%,
    rgba(70, 69, 138, 1) 100%
  );
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important; /* Esempio di font family */
}

p {
  font-family: "Open Sans", sans-serif !important; /* Esempio di font family */
}
